/*
LIGHT GRAY: #F2F2F2
GREEN: #37AE4A
*/

@import url(http://fonts.googleapis.com/css?family=Muli);

body {
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
	background-color: #F2F2F2;
}

a {
   color: #37AE4A;
}

a:link {
   color: #37AE4A;
}

a:hover {
   color: #F2F2F2;
}

a.btn {
   color: #F2F2F2;
}

a:link.btn {
   color: #F2F2F2;
}

ul {
	-webkit-padding-start: 0px !important;
	-webkit-margin-before: 0px !important;
	-webkit-margin-after: 0px !important;
}

ul li {
	list-style-type: none;
	color: #F2F2F2;
	display: inline-block;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.center {
	float: none;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

header {
	background-color: #2b2b2b;
	color: #F2F2F2;
	height: 8rem;
}

h2 {
	font-size: 20px;
	padding-top: 1rem;
}

h3 {
	font-size: 20px;
	padding-bottom: 1rem;
}

h4 {
	font-size: 24px;
	text-align: center;
	font-weight: bolder;
}

.chatbubble {
	width: 54px;
	height: 54px;
	margin-top: -6px;
	margin-right: 2px;
}

.screenshots {
	height: auto;
	width: 750px;
}

.jumbotron {
	text-align: center;
	background-color: #F2F2F2;
}

article {
	padding: 3rem;
	color: #F2F2F2;
}

#features {
	background: #37AE4A;
}

#features ul li {
	font-size: 16px;
	line-height: 32px;
	padding: 4px;
	display: block;
}

#about {
	background-color: rgba(12,45,17,1);
	background-image: url('../img/golden-gate-green.jpg');
	background-repeat: no-repeat;
	background-position: bottom left;
	background-size: cover;
}

#about p {
	color: #F2F2F2;
	font-size: 16px;
	line-height: 25px;
}

#donate {
	text-align: center;
	margin-top: 30px;
}

#donate small {
	margin-top: 50px;
	color: #ffffff;
}

#donate .btn-default {
	background: none;
	color: #F2F2F2;
	margin-top: 1.5rem;
	margin-bottom: 2.5rem;
	padding: 1rem;
}

footer {
	background: #2b2b2b;
	color: #F2F2F2;
	padding: 2rem;
	text-align: center;
}

.btn-black {
	color: #F2F2F2;
	background-color: #383838;
	border-color: #383838;
	margin-bottom: 2rem;
	text-align: center;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
	color: #F2F2F2;
	background-color: #2b2b2b;
	border-color: #1f1f1f;
}

.btn-black.disabled:hover,
.btn-black.disabled:focus,
.btn-black.disabled:active,
.btn-black.disabled.active,
.btn-black[disabled]:hover,
.btn-black[disabled]:focus,
.btn-black[disabled]:active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black:hover,
fieldset[disabled] .btn-black:focus,
fieldset[disabled] .btn-black:active,
fieldset[disabled] .btn-black.active {
	color: #F2F2F2;
	background-color: #383838;
	border-color: #383838;
}
