.DS_Store

/build/
MessagesDemo.xcodeproj/project.xcworkspace/xcuserdata/jesse.xcuserdatad/
MessagesDemo.xcodeproj/xcuserdata/jesse.xcuserdatad/

/MessagesDemoStoryboards/build/
/MessagesDemoStoryboards/MessagesDemoSB.xcodeproj/project.xcworkspace/xcuserdata/jesse.xcuserdatad/
/MessagesDemoStoryboards/MessagesDemoSB.xcodeproj/xcuserdata/jesse.xcuserdatad/
