<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expressions</key>
	<array>
		<dict>
			<key>image</key>
			<string>Expression_1</string>
			<key>name</key>
			<string>微笑</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_2</string>
			<key>name</key>
			<string>撇嘴</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_3</string>
			<key>name</key>
			<string>色</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_4</string>
			<key>name</key>
			<string>发呆</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_5</string>
			<key>name</key>
			<string>得意</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_6</string>
			<key>name</key>
			<string>流泪</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_7</string>
			<key>name</key>
			<string>害羞</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_8</string>
			<key>name</key>
			<string>闭嘴</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_9</string>
			<key>name</key>
			<string>睡</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_10</string>
			<key>name</key>
			<string>大哭</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_11</string>
			<key>name</key>
			<string>尴尬</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_12</string>
			<key>name</key>
			<string>发怒</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_13</string>
			<key>name</key>
			<string>调皮</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_14</string>
			<key>name</key>
			<string>呲牙</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_15</string>
			<key>name</key>
			<string>惊讶</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_16</string>
			<key>name</key>
			<string>难过</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_17</string>
			<key>name</key>
			<string>酷</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_18</string>
			<key>name</key>
			<string>冷汗</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_19</string>
			<key>name</key>
			<string>抓狂</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_20</string>
			<key>name</key>
			<string>吐</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_21</string>
			<key>name</key>
			<string>偷笑</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_22</string>
			<key>name</key>
			<string>愉快</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_23</string>
			<key>name</key>
			<string>白眼</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_24</string>
			<key>name</key>
			<string>傲慢</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_25</string>
			<key>name</key>
			<string>饥饿</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_26</string>
			<key>name</key>
			<string>困</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_27</string>
			<key>name</key>
			<string>惊恐</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_28</string>
			<key>name</key>
			<string>流汗</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_29</string>
			<key>name</key>
			<string>憨笑</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_30</string>
			<key>name</key>
			<string>悠闲</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_31</string>
			<key>name</key>
			<string>奋斗</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_32</string>
			<key>name</key>
			<string>咒骂</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_33</string>
			<key>name</key>
			<string>疑问</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_34</string>
			<key>name</key>
			<string>唬</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_35</string>
			<key>name</key>
			<string>晕</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_36</string>
			<key>name</key>
			<string>疯了</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_37</string>
			<key>name</key>
			<string>哀</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_38</string>
			<key>name</key>
			<string>骷髅</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_39</string>
			<key>name</key>
			<string>敲打</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_40</string>
			<key>name</key>
			<string>再见</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_41</string>
			<key>name</key>
			<string>擦汗</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_42</string>
			<key>name</key>
			<string>抠鼻</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_43</string>
			<key>name</key>
			<string>鼓掌</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_44</string>
			<key>name</key>
			<string>糗大了</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_45</string>
			<key>name</key>
			<string>坏笑</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_46</string>
			<key>name</key>
			<string>左哼哼</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_47</string>
			<key>name</key>
			<string>右哼哼</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_48</string>
			<key>name</key>
			<string>哈欠</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_49</string>
			<key>name</key>
			<string>鄙视</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_50</string>
			<key>name</key>
			<string>委屈</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_51</string>
			<key>name</key>
			<string>快哭了</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_52</string>
			<key>name</key>
			<string>阴险</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_53</string>
			<key>name</key>
			<string>亲亲</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_54</string>
			<key>name</key>
			<string>吓</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_55</string>
			<key>name</key>
			<string>可怜</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_56</string>
			<key>name</key>
			<string>菜刀</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_57</string>
			<key>name</key>
			<string>西瓜</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_58</string>
			<key>name</key>
			<string>啤酒</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_59</string>
			<key>name</key>
			<string>篮球</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_60</string>
			<key>name</key>
			<string>乒乓</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_61</string>
			<key>name</key>
			<string>咖啡</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_62</string>
			<key>name</key>
			<string>饭</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_63</string>
			<key>name</key>
			<string>猪头</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_64</string>
			<key>name</key>
			<string>玫瑰</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_65</string>
			<key>name</key>
			<string>凋谢</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_66</string>
			<key>name</key>
			<string>嘴唇</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_67</string>
			<key>name</key>
			<string>爱心</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_68</string>
			<key>name</key>
			<string>心碎</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_69</string>
			<key>name</key>
			<string>蛋糕</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_70</string>
			<key>name</key>
			<string>闪电</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_71</string>
			<key>name</key>
			<string>炸弹</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_72</string>
			<key>name</key>
			<string>刀</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_73</string>
			<key>name</key>
			<string>足球</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_74</string>
			<key>name</key>
			<string>瓢虫</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_75</string>
			<key>name</key>
			<string>便便</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_76</string>
			<key>name</key>
			<string>月亮</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_77</string>
			<key>name</key>
			<string>太阳</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_78</string>
			<key>name</key>
			<string>礼物</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_79</string>
			<key>name</key>
			<string>拥抱</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_80</string>
			<key>name</key>
			<string>强</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_81</string>
			<key>name</key>
			<string>弱</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_82</string>
			<key>name</key>
			<string>握手</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_83</string>
			<key>name</key>
			<string>胜利</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_84</string>
			<key>name</key>
			<string>抱拳</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_85</string>
			<key>name</key>
			<string>勾引</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_86</string>
			<key>name</key>
			<string>拳头</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_87</string>
			<key>name</key>
			<string>差劲</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_88</string>
			<key>name</key>
			<string>爱你</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_89</string>
			<key>name</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_90</string>
			<key>name</key>
			<string>OK</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_91</string>
			<key>name</key>
			<string>爱情</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_92</string>
			<key>name</key>
			<string>飞吻</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_93</string>
			<key>name</key>
			<string>跳跳</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_94</string>
			<key>name</key>
			<string>发抖</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_95</string>
			<key>name</key>
			<string>怄火</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_96</string>
			<key>name</key>
			<string>转圈</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_97</string>
			<key>name</key>
			<string>磕头</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_98</string>
			<key>name</key>
			<string>回头</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_99</string>
			<key>name</key>
			<string>跳绳</string>
		</dict>
		<dict>
			<key>image</key>
			<string>Expression_100</string>
			<key>name</key>
			<string>投降</string>
		</dict>
	</array>
	<key>keyBoardDelegateIcon</key>
	<dict>
		<key>heightLight</key>
		<string>DeleteEmoticonBtnHL</string>
		<key>normal</key>
		<string>DeleteEmoticonBtn</string>
	</dict>
</dict>
</plist>
